/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

     /* Basic Styles */
     html {
        font-size: 32px;
     }

     body {
        font-family: 'League Spartan', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .theme-background1 {
      background-color: hsl(222, 26%, 31%);
      color: white;
     }

     .theme-background2 {
      background-color: hsl(0, 0%, 90%);
      color: hsl(60, 10%, 19%);
     }

     .theme-background3 {
      background-color: hsl(268, 75%, 9%);
      color: hsl(52, 100%, 62%);
     }

     h1,
     h2,
     p {
        margin: 0;
     }

     /* Header Styles */
     header {
        width: 90%;
        max-width: 473px;
        padding-bottom: 20px;
     }

     .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
     }

     .header-wrapper h1 {
        font-size: 1.5em;
     }

     #theme-text {
        font-size: .5em;
        position: absolute;
        top: 45px;
        right: 30%;
     }

     .theme-numbers {
        display: flex;
     }

     .theme-numbers p {
        font-size: .5em;
      }

     .theme-numbers p:nth-last-of-type(2), .theme-numbers p:nth-last-of-type(3) {
        padding-right: 13px;
     }

     .theme-buttons1 {
      position: relative;
      right: 10px;
      background-color: hsl(223, 31%, 20%);
      height: 25px;
      width: 68px;
      border-radius: 20px;
     }

     .theme-buttons2 {
      position: relative;
      right: 10px;
      background-color: hsl(0, 5%, 81%);
      height: 25px;
      width: 68px;
      border-radius: 20px;
     }

     .theme-buttons3 {
      position: relative;
      right: 10px;
      background-color: hsl(268, 71%, 12%);
      height: 25px;
      width: 68px;
      border-radius: 20px;
     }

     #first-toggle, #second-toggle, #third-toggle {
      appearance: none;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
     }

     #first-toggle {
      position: absolute;
      top: 5px;
      left: 6px;
     }

     #second-toggle {
      position: absolute;
      top: 5px;
      left: 27px;
     }

     #third-toggle {
      position: absolute;
      top: 5px;
      left: 48px;
     }

     input:nth-of-type(1):checked {
      background-color: hsl(6, 63%, 50%);
     }

     input:nth-of-type(2):checked {
      background-color: hsl(25, 98%, 40%);
     }

     input:nth-of-type(3):checked {
      background-color: hsl(176, 100%, 44%);
     }


     /* Main Styles */

     main {
      display: flex;
      flex-direction: column;
      align-items: center;
     }

     .content-wrapper {
        width: 90%;
        max-width: 540px;
     }

     .total-wrapper {
        height: 90px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        border-radius: 10px;
        margin-bottom: 20px;
     }

     .toggle-wrapper1, .app-theme1 {
      background-color: hsl(223, 31%, 20%);
     }

     .toggle-wrapper2 {
      background-color: hsl(0, 0%, 93%);
     }

     .app-theme2 {
      background-color: hsl(0, 5%, 81%);
     }

     .toggle-wrapper3, .app-theme3 {
      background-color: hsl(268, 71%, 12%);
     }

     #total {
      position: relative;
      top: 5px;
      right: -px;
      color: darkgray;
      width: 100%;
      overflow: scroll;
     }

     #input {
      position: relative;
      bottom: 5px;
      right: 0px;
      font-size: 1.75em;
      width: 100%;
      overflow: scroll;
     }

     *::-webkit-scrollbar{/*the size of the scrollbar*/
      width: 5px;
      height: 5px;  
      }
      *::-webkit-scrollbar-track{
      background: rgba(0,0,0,0.2); /*the background color of the scroll track*/
      }
      *::-webkit-scrollbar-thumb{
      background: rgba(0,0,0,0.2); 
      }

     .calculator-app {
        border-radius: 10px;
        padding: 25px;
     }

     .inputs-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
     }

     .button {
        width: 20.1%;
        height: 60px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: none;
        cursor: pointer;
     }

     .button-theme1 {
      background-color: hsl(30, 25%, 89%);
      box-shadow: 0px 4px hsl(28, 16%, 65%);
      color: hsl(221, 14%, 31%);
     }

     .button-theme1:nth-of-type(4) {
      background-color: hsl(225, 21%, 49%);
      box-shadow: 0px 4px hsl(224, 28%, 35%);
      color: white;
      font-size: .8em;
     }

     .button-theme2 {
      background-color: hsl(45, 7%, 89%);
      box-shadow: 0px 4px hsl(35, 11%, 61%);
      color: hsl(60, 10%, 19%);
     }

     .button-theme2:nth-of-type(4) {
      background-color: hsl(185, 42%, 37%);
      box-shadow:0px 4px hsl(185, 58%, 25%);
      color: white;
      font-size: .8em;
     }

     .button-theme3 {
      background-color: hsl(268, 47%, 21%);
      box-shadow:0px 4px hsl(290, 70%, 36%);
      color: hsl(52, 100%, 62%);
     }

     .button-theme3:nth-of-type(4) {
      background-color: hsl(281, 89%, 26%);
      box-shadow:0px 4px hsl(285, 91%, 52%);
      color: white;
      font-size: .8em;
     }

     .options-wrapper {
        display: flex;
        justify-content: space-between;
     }

     .button-command {
        text-align: center;
        font-size: .7em;
        width: 47%;
        height: 60px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
     }

     .button-command-theme1 {
      background-color: hsl(225, 21%, 49%);
      box-shadow: 0px 4px hsl(224, 28%, 35%);
      color: white;
     }

     .button-command-theme1:nth-of-type(2) {
      background-color: hsl(6, 63%, 50%);
      box-shadow: 0px 4px hsl(6, 70%, 34%);
     }

     .button-command-theme2 {
      background-color: hsl(185, 42%, 37%);
      box-shadow: 0px 4px hsl(224, 28%, 35%);
      color: white;
     }

     .button-command-theme2:nth-of-type(2) {
      background-color: hsl(25, 98%, 40%);
      box-shadow: 0px 4px hsl(25, 99%, 27%);
     }

     .button-command-theme3 {
      background-color: hsl(281, 89%, 26%);
      box-shadow: 0px 4px hsl(285, 91%, 52%);
      color: white;
     }

     .button-command-theme3:nth-of-type(2) {
      background-color: hsl(176, 100%, 44%);
      box-shadow: 0px 4px hsl(177, 92%, 70%);
      color: hsl(198, 20%, 13%);
     }
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    header {
      max-width: 540px;
    }

    #theme-text {
      position: relative;
      top: 0;
      left: 150px;
    }

    .content-wrapper {
      width: 540px;
    }

    .total-wrapper {
      height: 125px;
    }

    #total {
      font-size: 1.5em;
    }

    #input {
      font-size: 2em;
    }

    .button {
      width: 100px;
      margin-bottom: 20px;
    }
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  